# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List common libraries for Data Science
* Table of Data Science tools
* Arithmetic expressions in Python
* Simple arithmetic expression to mutiply then add integers by using Python
* How to convert minutes to hours in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Matlab

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scipy

| Data Science Tools |
|:---------------------:|
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |
| Visual Studio Code (VS Code)|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Lakshmi Holla

Niveditha Pandith

Santiago M Barboza